<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <!----email--sent--->
    <div style="width: 500px; min-height: 400px;border: 7px solid #bf7b19; padding: 15px;background: #f5f5f5;">
        <h1 style="text-align: center;font-family: verdana;color: #bf7b19;
text-shadow: 0 3px 0px gray;">  Forgot Password</h1>

        <h1>It sounds like you have requested for password.</h1>
        <div>
            
            <p style="line-height: 48px;font-size: 18px;font-family: verdana; margin: 0;">Email:    {Email} </p>
            <p style="line-height: 48px;font-size: 18px;font-family: verdana; margin: 0;">Password: {Password</p>
           
        </div>
    </div>
</body>
</html>
