
@{
    ViewBag.Title = "Disclaimer";
}

<body>
   
    <!----Disclaimer---------->
    <div class="how--wrapper">
        <div class="container">
            <div class="term-area">
                <div class="row">
                    <div class="col-md-12">
                        <div class="Disclaimer-h">
                            <h1>Disclaimer</h1>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <h5>LEGAL DISCLAIMER, COPYRIGHT &amp; LICENSING</h5>

                        <p>
                            <o:p>THE AUTHENTICITY OF THE VIRTUAL TOURS, IMAGES AND CONTENT POSTED ON THIS SITE BY ITS USERS IS NOT VERIFIED BY MYLISTINGTOUR.COM. MYLISTINGTOUR.COM DOES NOT VOUCH FOR THE AUTHENTICITY OF ANY SUCH INFORMATION POSTED BY ITS USERS.</o:p>
                        </p>



                        <p>
                            By using this Site, you are agreeing to be bound by the
                            following terms and conditions.<o:p></o:p>
                        </p>



                        <p>
                            The information on this Site is intended to furnish users
                            with general information on matters that they may find to be of interest. While
                            every effort has been made to offer current and accurate information, errors
                            can occur. Furthermore, this Site may contain references to certain laws and
                            regulations. Laws and regulations will change over time and should be
                            interpreted only in light of particular circumstances.<o:p></o:p>
                        </p>



                        <p>
                            Mylistingtour.com DISCLAIMS ALL LIABILITY AND RESPONSIBILITY
                            FOR ANY ERRORS OR OMISSIONS IN THE CONTENT CONTAINED ON THIS SITE.<o:p></o:p>
                        </p>



                        <p>
                            All content on the Site and all services provided through it
                            are provided "as is", with no guarantees of completeness, accuracy or
                            timeliness, and without representations, warranties or other contractual terms
                            of any kind, express or implied. Mylistingtour.com does not represent or
                            warrant that this Site, the various services provided through this Site, and /
                            or any information, software or other material downloaded from this Site, will
                            be accurate, current, uninterrupted, error-free, omission-free or free of
                            viruses or other harmful components.<o:p></o:p>
                        </p>



                        <p>
                            TO THE FULLEST EXTENT PERMISSIBLE PURSUANT TO APPLICABLE
                            LAW, MYLISTNGTOUR.COM DISCLAIMS ALL LIABILITY TO YOU AND EVERYONE ELSE IN
                            RESPECT OF THE CONTENT ON THIS SITE AND ALL SERVICES PROVIDED THROUGH IT,
                            WHETHER UNDER ANY THEORY OF TORT, CONTRACT, WARRANTY, STRICT LIABILITY OR
                            NEGLIGENCE OR OTHERWISE, AND WHETHER IN RESPECT OF DIRECT, INDIRECT,
                            CONSEQUENTIAL, SPECIAL, PUNITIVE OR SIMILAR DAMAGES, EVEN IF MYLISTINGTOUR.COM
                            WAS ADVISED, KNEW OR SHOULD HAVE KNOWN OF THE POSSIBILITY OF SUCH DAMAGES.<o:p></o:p>
                        </p>



                        <h5 >
                            Visitors to our Web Site and Users in general should note
                            that:<o:p></o:p>
                        </h5>



                        <p>
                            <b>1.&nbsp;&nbsp; </b>The use of our Web Site is solely at their own risk on an
                            "as is", "as available" basis. Information on our Web Site
                            is provided for general purposes only and is not intended to render accounting,
                            tax, consultative, investment, legal or other professional advice or services,
                            in any form. Laws, regulations and circumstances change constantly. Our Web
                            Site is not intended to constitute the basis for any decision or course of
                            action of any User’s specific circumstances and Users are cautioned to consult
                            with their professional advisors before making any decision or taking any
                            course of action. MYLISTINGTOUR.COM makes no warranty or representation as to
                            the accuracy, quality or completeness of any information on our Web Site. MYLISTINGTOUR.COM
                            expressly disclaims all warranties and conditions including merchantability and
                            fitness for a particular purpose, and also disclaims any liability for loss or
                            damages which result directly or indirectly from the use in any form of any of
                            the information on our Web Site including any personal information provided by
                            Visitors and Users in general. Where such warranties or conditions are legally
                            incapable of exclusion then MYLISTINGTOUR.COM’s liability shall be limited to
                            the sum of $1.00 in the aggregate regardless of the number of occurrences.
                            Users assume all risks concerning the suitability to their needs and the
                            accuracy of information on our Web Site and any publications therein.<o:p></o:p>
                        </p>



                        <p>
                            <b>2.&nbsp;&nbsp;</b>The use of this Web Site or any e-mail communication to
                            any one at MYLISTINGTOUR.COM itself does not give rise to a client relationship
                            notwithstanding receipt of such communication. A client relationship shall only
                            arise upon our mutual agreement in writing. <o:p></o:p>
                        </p>



                        <p>
                            <b>3.&nbsp;&nbsp;</b>Internet communications may not be confidential and MYLISTINGTOUR.COM
                            does not guarantee the confidentiality of any e-mail or internet transmissions.
                            Users are cautioned not to send any information via e-mail or the internet
                            where confidentiality or privacy is an issue. MYLISTINGTOUR.COM assumes no liability
                            whatsoever for any confidential information sent to us over the internet. MYLISTINGTOUR.COM
                            reserves the right to make changes at any time to the Web Site which may
                            include information, services and technical specifications without notice.<o:p></o:p>
                        </p>



                        <p>
                            <b>4.&nbsp;&nbsp;</b> MYLISTINGTOUR.COM expressly disclaims any liability
                            regarding links to other web sites or any information, products, or services
                            that they contain. <o:p></o:p>
                        </p>



                        <p>
                            <b>5.&nbsp;&nbsp;</b>Any legal questions or disputes arising from the use of
                            our Web Site shall be governed by the laws of the Province of Ontario, and the
                            laws of Canada applicable therein, and the courts of the Province of Ontario
                            shall have primary jurisdiction. <o:p></o:p>
                        </p>



                        <p>
                            <b>6.&nbsp;&nbsp;</b>For the purposes of this Disclaimer, MYLISTINGTOUR.COM
                            shall include its related or affiliated partnerships, its partners, principals,
                            employees, agents and authorized representatives and includes affiliated
                            corporations and their respective officers, directors, shareholders, employees,
                            agents and authorized representatives. <o:p></o:p>
                        </p>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <!----Disclaimer---->
  
</body>

