@model Listningtour.Models.UserModel
@{
    ViewBag.Title = "ForgotPassword";
}

@using (Html.BeginForm())
{

    <div class="login-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="login-area">
                        <div class="login-h">
                            <h1 class="animated zoomIn">FORGOT PASSWORD</h1>
                        </div>
                        <div class="login-form">
                            <div class="form-group">
                                <label for="usr">Email</label>
                                @Html.TextBoxFor(m => m.Email, new { placeholder = Html.DisplayNameFor(m => m.Email), id = "Email", @class = "form-control input-lg", @type = "email" })
                                <div class="errorMessage">@Html.ValidationMessageFor(model => model.Email)</div>

                            </div>
                            <div class="l-btn">                             
                                <button type="submit" value="login" class="">Forgot Password</button>
                                                     
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>

    <!-- #modal-dialog -->

}

<link href="~/Scripts/sweetalert.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/sweetalert.js"></script>

@if (@ViewBag.data != null)
{
    <script>
    window.onload = function () {
     sweetAlert("@ViewBag.data");
       }
    </script>
}







@*<script src="~/assets/plugins/jquery-cookie/jquery.cookie.js"></script>
<script src="~/Assets/js/sweetalert.js"></script>
<script src="~/Assets/js/sweetalert.min.js"></script>




<script type="text/javascript">
    $(document).ready(function () {

        function sweetalert(isSuccess, message) {
            swal("", message, isSuccess)
            swal({
                title: "Success!",
                text: message,
                type: "success",
                timer: 5000,
                showConfirmButton: false
            }, function () {
                window.location.href = "../Account/Login/";
            });
        }
      

        $("#login_btn").click(function () {
            debugger;
            $('#login_btn').button('loading');
            var Email = document.getElementById("Email").value;
            if (Email == "") {
                $('#login_btn').button("reset");
                sweetalert('error', 'Please enter Email.')
            }

            else {
                var Model = { Email: Email}
                $.ajax({
                    type: 'POST',
                    url: '/Account/ForgotPassword',
                    data: JSON.stringify(Model),
                    contentType: 'application/json',
                    success: function (result) {
                        if (result == false) {
                            $('#login_btn').button("reset");

                            sweetalert('error', 'Incorrect Email.');
                        }

                        else if (result == true) {

                            sweetalert('success', 'Email has been sent with your password, Please check.');
                        }

                    },
                    error: function () {
                        $('#login_btn').button("reset");
                        sweetalert('error', 'Something went wrong please try again.')
                    }
                });
            }

        });


    });

</script>*@


