
@{
    ViewBag.Title = "Privacy_Policy";
}


<body>
   
    <!----Privacy Policy---------->
    <div class="how--wrapper">
        <div class="container">
            <div class="term-area">
                <div class="row">
                    <div class="col-md-12">
                        <div class="Privacy_Policy-h">
                            <h1>Privacy Policy</h1>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <p>This privacy statement was created in order to demonstrate this website’s firm commitment to privacy. Due to the sensitive nature of some of the information we collect from users subscribing to services, including address and phone numbers, we believe it is important to satisfy strict privacy requirements. This policy is designed to assist you in understanding how this website collects, uses and safeguards the personal information you provide to this website, the website’s owner.When you request information, or join a mailing list, we may use this information to periodically notify our users about new features, new offers, marketing material related to the content of this website, etc. The information collected will not be used for any other purpose, unless we are required to do so by law or for the purpose of investigation of fraud. This website owner and creators, will never on-sell this information to another party for any reason. The formula used to send you information and service offers are developed and managed under traditional corporate standards designed to safeguard the security and privacy of the visitor’s personal information.Personal information will only be updated if it is necessary for the purposes for which it was collected or if revisions are requested by the consumer. Upon request, an individual shall be informed of the existence, use and disclosure of his or her personal information and shall be given access to that information. This individual will be able to challenge the accuracy and completeness of this information and have it amended as appropriate.Collected Information.</p>
                        <p>This section describes the information collected from you, the visitor, and indicates the primary purposes why we collect each type of information from you.This website uses cookies to keep track of your session ID. We may use cookies to deliver content specific to your interests. Cookies help collect important business and technical statistics. The information in the cookies lets us trace the paths followed by visitors to this website as they move from one page to another. Web server logs allow a count of how many people visit this website and evaluate this website’s visitor capacity. We do not use these technologies to capture your individual email address or any personally identifying information. This information assists us to design and arrange web pages in the most user-friendly manner and to continually improve this website to better meet the needs of all visitors. Personal Information You Choose to Provide. Personal information includes any factual or subjective information, recorded or not, about an identifiable individual. This includes information in any form, such as: •age, name, ID numbers, income, ethnic origin, or blood type •opinions, evaluations, comments, social status, or disciplinary actions employee files, credit records, loan records, medical records, existence of a dispute with a client, intentions (for example, to acquire goods or services, or change jobs) Personal information does not include the name, title, business address or telephone number of an employee of an organization. </p>
                        <h5> Mylistingtour.com collects personal information only for the following reasons:</h5>
                           
                            <ul>
                                <li>To provide the products or services that you have requested and maintain commercial relations with you; </li>
                                <li>To understand your needs and recommend products and services accordingly; </li>
                                <li>To manage our business which includes partnership and employment matters; </li>
                                <li>To meet legal and regulatory requirements.We will not use your personal information for any other reason without your consent. If you choose to correspond with us through email, the website owner may retain the content of your email messages together with your email address and responses. E-mail information is requested only so we may communicate directly with you. Personal information that is collected from this website is used to effectively market and provide you with the information you have requested. As a visitor, you will be given the opportunity to notify this website’s owner of your desire not to receive these offers. Such e- mail will have a properly formatted and effective opt-out service. This service successfully removes you from future mailings, and does not contribute to spam.
                        </li>
                        </ul>

                     
                        <h5>Sharing of Information</h5>
                        <p>We only share your information with third parties to assist in completing the above uses. Any third party’s use must adhere to our privacy policies or be allowed by the legislation. Examples would be an outside payroll service, an agent hired to perform a service for you, a collection agency, a law enforcement agency or emergency services. Mylistingtour.com policies are based on a model code for protection of personal information. SecurityA major priority is to provide security for the information attained by us from our visitors. We employ industry-recognized security safeguards to protect personally identifiable information. Our Servers use a combination of firewalls, intrusion detection software and password protection designed to protect against unauthorized entry and loss, theft, or misuse of personal information. Although we will make every effort to protect personal information, no computer system is totally immune from hackers and others who might misuse information. We are not responsible for any breach of security that is beyond our reasonable control.</p>
                        <h5>Third Party</h5>
                        <p>The website owner and website creator are not responsible for the practices employed by websites linked to or from this website nor the information or content contained therein. Often, links to other websites are provided solely as pointers to information on topics that may be useful to the users of this website.</p>
                        <h5>Accountability</h5>
                        <p>We have established a Privacy Officer who is part of senior management to ensure our policies are in force. We inform and train staff on privacy issues.</p>
                        <h5> Identify the Purposes</h5>
                        <p>We identify the purpose for collecting information before collecting it. Obtain ConsentWe will obtain consent before collection of information. Limit CollectionWe will only collect the information we need for the stated purpose Limit Use, Disclosure and RetentionWe use information only for the purpose of collection unless we receive consent or are required by law. We have policies as to how long the information is kept. We have policies for the safe destruction of the information. </p>
                        <h5>Be Accurate</h5>
                        <p>We will use our best efforts to keep your information up to date; use Appropriate Safeguards.We have policies to safeguard your information against unauthorized access, disclosure, copying, use or modification. </p>
                        <h5>Be Open</h5>
                        <p>Our clients and employees are informed of our policies and practices for managing personal information. </p>
                        <h5>Give Individuals Access</h5>
                        <p>We will give individuals reasonable access to their information and correct any personal information if its accuracy and completeness is challenged and found to be deficient. There are limited exceptions to this which are set out in the legislation. </p>
                        <h5>Notification of Changes in this Policy</h5>
                        <p>This policy may be revised as new features are added or as law requires. Changes can be made without notification unless it is a substantial change to our privacy practices that would violate the privacy of our visitors. We reserve the right to modify this privacy statement at any time, so please review it frequently. If we make material changes to this policy, we will notify you here or by means of a notice on our home page.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!----Privacy Policy------end---->
   


</body>