
@{
    ViewBag.Title = "Signsucessfull";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<header class="text-center">
    <h2>Confirm</h2>

    <h2>Your account has been created Successfully.</h2>
    <h2>An Account Confirmation has been sent to your Email.</h2>

    <br>
    <a href="@Url.Action("Login", "Account")">
        <strong>Click Here</strong> to Login
    </a>

</header>